{{#partial "contenido"}}

    <h1>Usuario número {{id}}</h1>

    <div class="option">
        <h2>Nombre: </h2>  {{nombre}}
        <h2>Tipo: </h2> {{tipo}}
        <h2>Entidad:</h2>
    </div>

{{/partial}}
{{>layout.hbs}}