{{#partial "contenido"}}

    <h1>Usuario número ....</h1>

    <div class="option">
        <h2>Nombre:</h2>
        <h2>Tipo:</h2>
        <h2>Entidad:</h2>
    </div>

{{/partial}}
{{>layout.hbs}}