html {
  scroll-behavior: smooth;
}

.header {
    color: aliceblue;
    background-color: #7FBEE7;
    display: flex;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 0.4em 0.5em lightgrey;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;


}


/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 6em;
}


ol, ul {
    margin: .5em;
}

.header ol {
	display: flex;
    height: inherit;
    list-style: none;
}


.header a { /* .header a hereda de .header ol li */
    color: aliceblue;
	text-decoration: none;
	height: 4em;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 0 10px;
    
  }


  a.link:hover {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  text-shadow: 0 0 3px #fff;
  transition: opacity 0.35s, transform 0.35s;
  text-decoration: none;
  }

 body {
	background: aliceblue;
	font-family: "Source Sans Pro", sans-serif;
	/*Tiene un margen por defento*/
	margin: 0;
	background-color: rgb(255, 253, 250);
	color: grey;
	background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02) 3px, transparent 3px, transparent 6px);
	background-attachment: fixed;
	/*background-image: url("https://i.pinimg.com/564x/71/8f/32/718f328baef999bfa9c77e23a40d7dad.jpg");*/
}

.menu_container {
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.menu_container img {
    filter: brightness(102%);
}

.footer {
    background-color: #A3ACB2;
    color: aliceblue;
    text-align: center;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    border: 10px;
    text-decoration: blink;
    color: black;
    padding: 15px;
    border-style: double;
    text-align: center; 
}

h2{
    text-align: center; 
    /*text-decoration: underline;*/
}

div p{
    margin:10px;
}

table{
    background-color: skyblue;
    color: black;
    border-style: double;
    padding: 5px;
}

th{
    font-size: 15;
    text-align: center;
    padding: 10px;
}

td{
    text-align: center;
    padding: 5px;
}

h1{
    text-align: center;
    color: #000000;
}


.imagen{
    width: 2vw;
}

.formulario{
/*Para centrar los campos dentro del formulario*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 10px;
    text-decoration: blink;
    color: black;
    padding: 15px;
    border-style: double;
    text-align: center;
    background-color: skyblue;
}

.botones_añadir {
    display: flex;
    justify-content: space-around;
}

.añadir{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: #515BF9;
    border-radius: 6px;
    border: 2px solid #0016b0;
 }

 .crearEgreso{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #5BB954;
    border-radius: 6px;
    border: 2px solid #0016b0;
 }

 .nuevoEgreso{
    text-decoration: none;
    padding: 2px;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: #149795;
    border-radius: 6px;
    border: 2px solid #0016b0;
 }

/*****************************************************************Home*/
.user_options {
    height: max-content;
    width: max-content;
    margin: auto;
}


.options_container {
    display: flex;
    justify-content: center;
    align-items: center;


    height: 100%;
    width: 70em;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: inherit;
    margin: 3em;
}

.option {
    box-shadow: 1px 1px 3px 4px #ccc;
    background-color: #E2F3FD;
    border-radius: 0.1em;
    margin: 1em;
    padding: .5em;
    background-color: aliceblue;
    height: 12em;
    font-size: 150%;
    width: 16em;
}

.option ol {
    list-style: none;
}

.option h3 {
    color: grey;
    margin-left: 1.4em;
}

.option.link {
    color: grey;
}

.option img {

    filter: brightness(100%);
}

.link {
    text-decoration: none;
}


/*********************************************************/
.options_panel {
height: inherit;
width: 70em;
display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
}

/*********************************************************Bienvenida*/

.root_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
}

 h1 h2 h3 {
    font-family: 'Montserrat', sans-serif;
}

.hero {
    background-image: url(/images/hero.jpg);
    object-fit: cover;
    height: 40em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    text-shadow: 0 0 1em grey;
}

.hero h1 {
    font-size: 1000%;

}


.gesoc_details {
    height: auto;
    width: 46em;
    box-shadow: 1px 1px 10px grey;
    padding: 2em;
    background-color: azure;
    font-size: 120%;
    color: #53575A;
    text-align: justify;
}



/* Sección de contacto*/

.gesoc_contact {
    height: 10em;
    background-color: #3887BA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em;
    color: aliceblue;
}

.social-link {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 20px;
	background-size: 50px 50px;
}

.social-link.twitter {
	background-image: url(/images/twitter.png);
}

.social-link.facebook {
	background-image: url(/images/facebook.png);
}

.social-link.github {
	background-image: url(/images/github.png);
}

.social-link.instagram {
	background-image: url(/images/instagram.png);
}





/**************************************************************Login*/

.login_container {
    height: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/login_background.jpg);

}

.login_form h2 {
    font-family: 'Montserrat', sans-serif;
}

.login_form {
    height: 25em;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px 6px #ccc;
    background-color: aliceblue;
}






