{{#partial "contenido"}}

<div class="container">
	<h2>Bandeja de Mensajes</h2>
	<hr />
	<table class="table">
		<thead>
			<tr>
				<th class="col-xs-2">Hora de Mensaje</th>
				<th class="col-xs-8">Asunto</th>
				<th class="col-xs-2">Ver Mensaje</th>
			</tr>
		</thead>
		<tbody>
		{{#each mensajes}}
			<tr>
				<td>{{horaDeMensaje}}</td>
				<td>{{asunto}}</td>
				<td>
					<a class="btn btn-primary" type="button" href="/mensajes/{{id}}">Ver</a>
				</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>

{{/partial}} {{>layout.hbs}}
