{{#partial "contenido"}}

<div class="container">
	<h2>Visualizacion de mensaje</h2>
	<hr />
	<div class="row form-group">
		<h3>Asunto: {{resultado.asunto}}</h3>
		<h3>Fecha y Hora: {{resultado.horaDeMensaje}}</h3>
	</div>
	<div class="row form-group">
		<a class="btn btn-primary" type="button" href="/mensajes">Ir atras</a>
	</div>
	<div class="row form-group">
		<div class="jumbotron">
		    {{#each resultado.mensajes}}
			<p class="lead">{{this}}</p>
			{{/each}}
		</div>
	</div>
</div>

{{/partial}} {{>layout.hbs}}
