<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeSoc</title>

    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../main.css">
    <link rel="stylesheet" type="text/css" href="../ordenarPorCategoria.css">
    <script src="../ordenarPorCategoria.js"></script>
    <script src="../deshabilitarCampos.js"></script>
</head>


<body>
    <header class="header">
        <div class="menu_container">
            <a title="GeSoc" href="/" class="logo_gesoc"> <img src="images/gesoc-logo.png" alt=""></a>
            <nav class="menu">
                <ol>
                    <li>
                        <a title="Home" class="link" href="/home">
                            <img src="images/icons/home.png" height="20">
                            Página de inicio
                        </a>
                    </li>
                    <li>
                        <a title="Usuario"  class="link" href="about:blank">
                            <img src="images/icons/usuario.png" height="20">
                            Usuario
                        </a>
                    </li>
                    <li>
                        <a title="Mensajes" class="link" href="/mensajes">
                            <img src="images/icons/mensaje.png" height="20">
                            Mensajes
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </header>

        {{#block "contenido"}}

        {{/block}}

    <footer class="footer">
        <p>© Grupo 8</p>
    </footer>
</body>
</html>