{{#partial "contenido"}}


    <body>
    <header class="header">
        <div class="menu_container">
            <nav class="menu">
                <ol>
                    <li>
                        <a title="Acerca de la aplicación" class="link" href="#sobre_gesoc">
                            ¿Qué es GeSoc?
                        </a>
                    </li>
                    <li>
                        <a title="Acerca de los creadores"  class="link" href="#sobre_nosotros">
                            Sobre nosotros
                        </a>
                    </li>
                    <li>
                        <a title="Información de contacto" class="link" href="#contacto">
                            Contáctenos
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </header>

    <!-- Página de bienvenida -->



    <section class="hero">
        <div class="gesoc_introduction">
            <h1>GeSoc</h1>
            <h4>Gestión de proyectos sociales</h4>
            <a type="button" class="btn btn-primary" href="/login">Iniciar sesión</a>
        </div>
    </section>

    <div class="root_content">
        <section id="sobre_gesoc">
            <h2>¿Qué es GeSoc?</h2>
            <div class="gesoc_details">


                <p>
                    Existe diverso software que resuelve algunas problemáticas que se plantean en el presente trabajo, sin
                    embargo, en ocasiones, su implementación es costosa (en términos monetarios o por los recursos
                    especializados que requiere), por lo cual no es realizada. Muchos otros productos son enlatados , con la
                    2
                    dificultad de personalizarlos para las complejas realidades de estas organizaciones.
                    Muchas organizaciones sociales se encuentran en la actualidad implementando una herramienta de primer
                    nivel del mercado, propiedad de una de las compañías más importantes en tecnología informática. Sin
                    embargo, a pesar de los programas de acceso con licencias gratuitas, no todas las organizaciones tienen
                    la posibilidad de pagar las consultorías o customizaciones y, por otro lado, a veces estos productos
                    superan, dada su envergadura, las necesidades más básicas de las organizaciones.
                    Finalmente, algunos de los productos existentes son implementados para su uso en áreas financieras, con
                    un foco en obtener la información requerida para presentaciones de índole legal (balances, estados
                    económicos, etc.), sin un enfoque en la gestión de los proyectos de la organización.
                </p>
            </div>
        </section>

        <section id="sobre_nosotros">
            <h2>Sobre nosotros</h2>
            <div class="gesoc_details">
                <p>Fundación Proyecto Emprender (PROEM) es una organización sin fines de lucro fundada en el año 2003.
                    1
                    Su visión reside en contribuir a la obtención del pleno empleo en la República Argentina. En dicho sentido,
                    su misión es acompañar la preparación laboral de las personas, promover el desarrollo y generación de
                    emprendimientos y fortalecer organizaciones productivas ya constituidas. PROEM promueve la inclusión
                    social a través del trabajo. La Fundación acoge a toda persona que necesite apoyo, asesoramiento y/o
                    acompañamiento en proyectar sus ideas como herramientas para generar un trabajo autónomo, así como
                    a jóvenes y adultos que necesitan orientación y capacitación para mejorar su formación con el fin de
                    conseguir un empleo.</p>
            </div>
        </section>
    </div>

    <section id="contacto">
        <div class="gesoc_contact">

            <h2>Contáctenos</h2>

            <div class="social">
                <!-- Se pueden agregar dos clases a la vez -->
                <a title="Twitter" href="about:blank" target="_blank" class="social-link twitter"> </a>
                <a title="Facebook" href="about:blank" target="_blank" class="social-link facebook"> </a>
                <a title="Github" href="https://github.com/dds-utn/2020-ju-ma-group-08" target="_blank" class="social-link github"> </a>
                <a title="Instagram" href="about:blank" target="_blank" class="social-link instagram"> </a>
            </div>
        </div>
    </section>



    <!-- fin -->

{{/partial}}

{{>layout.hbs}}