{{#partial "contenido"}}

    <!-- Home -->

    <section class="user_options">
        <h1>Mi organización</h2>
            <div class="options_container">
                <div class="option">
                    <h3>Egresos</h2>
                        <ol>
                            <li>
                                <a title="Nuevo egreso" class="link" href="/egreso">
                                    <img src="images/icons/más.png" height="20">
                                    Nuevo
                                </a>
                            </li>
                            <li>
                                <a title="Recibir notificaciones al validar egresos" class="link" href="about:blank">
                                    <img src="images/icons/campana.png" height="20">
                                    Suscribirse
                                </a>

                            </li>
                            <li>
                                <a title="Ver la lista de egresos" class="link" href="/egresos">
                                    <img src="images/icons/listar.png" height="20">
                                    Ver todos
                                </a>
                            </li>
                            <li>
                                <a title="Ver todos los proveedores" class="link" href="/proveedores">
                                    <img src="images/icons/otroUsuario.png" height="20">
                                    PROVEEDORES
                                </a>
                            </li>                                            
                        </ol>
                </div>
                <div class="option">
                    <h3>Entidades</h2>
                        <ol>
                            <li>
                                <a title="Nueva entidad" class="link" href="/entidad">
                                    <img src="images/icons/más.png" height="20">
                                    Nuevo
                                </a>
                            </li>
                            <li>
                                <a title="Ver la lista de entidades" class="link" href="/entidades">
                                    <img src="images/icons/listar.png" height="20">
                                    Ver todas
                                </a>
                            </li>
                        </ol>
                </div>
                <div class="option">
                    <h3>Usuario</h2>
                        <ol>
                            <li>
                                <a title="Ver lista de mensajes" class="link" href="/mensajes">
                                    <img src="images/icons/home.png" height="20">
                                    Ver mensajes
                                </a>
                            </li>
                            <li>
                                <a title="Ver detalles del usuario" class="link" href="/usuario">
                                    <img src="images/icons/listar.png" height="20">
                                    Ver perfil
                                </a>
                            </li>                <li>
                            <a title="Ver la lista de egresos" class="link" href="/suscripciones">
                                <img src="images/icons/campana.png" height="20">
                                Egresos suscriptos
                            </a>
                        </li>
                        </ol>
                </div>
                <div class="option">
                    <h3>Organización</h2>
                        <ol>
                            <li>
                                <a title="Listar todas las organizaciones" class="link" href="/organizaciones">
                                    <img src="images/icons/organizacion.png" height="20">
                                    Ver información
                                </a>
                            </li>
                        </ol>
                </div>
            </div>
            </div>
    </section>


{{/partial}}

{{>layout.hbs}}