{{#partial "contenido"}}

	{{#with egreso}}
		<h1> Egreso {{id}} </h1>
		<p><strong>Dato</strong></p>
		<p><strong>Dato</strong></p>
		<p><strong>Dato</strong></p>
		<p><strong>Dato</strong></p>
		<p><strong>Dato</strong></p>
		<p><strong>Dato</strong></p>
	{{/with}}

{{/partial}}

{{>layout.hbs}}